<% if(session.cart) { %>
    <section class="cart py-16">
        <div class="order container mx-auto w-1/2">
            <div class="flex items-center border-b border-gray-400 pb-4">
                <img src="/img/cart-black.png" alt="">
                <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
            </div>

            <% for(let i of Object.values(session.cart.items)) { %>
                <div class="pizza-list">
                    <div class="flex items-center my-8">
                        <img class="w-24 mr-4" src="/img/pizza.png" alt="pizza">
                        <div class="flex-1">
                            <h1>
                                <%= i.item.name %>
                            </h1>
                            <span class="text-xs text-gray-500">
                                <%= i.item.size %>
                            </span>
                        </div>
                        <span class="flex-1">
                            <%= i.qty %> Pcs
                        </span>
                        <span class="text-lg font-bold">₹<%= i.item.price * i.qty %></span>
                    </div>
                </div>
                <% } %>
                    <hr>

                    <div class="text-right py-4">
                        <div>
                            <span class="text-lg font-bold mr-2">Total amount:</span>
                            <span class="amount text-2xl font-bold">₹<%= session.cart.totalPrice %></span>
                        </div>
                        <% if(user) { %>
                        <div>
                            <form action="/orders" method="POST">
                                <input class="border border-gray-400 p-1 w-1/2 m-2 rounded-md" type="tel"
                                    name="phone" placeholder="Phone" required>
                                <input class="border border-gray-400 p-1 w-1/2 m-2  rounded-md" type="text"
                                    name="address" placeholder="Address" required>
                                    <br>
                                <button class="btn-primary px-6 py-2 rounded-full text-white" type="submit">Order Now</button>
                            </form>
                        </div>
                        <% } else { %>
                        <a class="btn-primary inline-block cursor-pointer px-6 py-2 rounded-full text-white font-bold"
                            href="/auth/login">Login to continue</a>
                        <% } %>
                        </div>
        </div>
    </section>

    <% } else { %>

        <section class="empty-cart">
            <div class="container mx-auto text-center">
                <h1 class="text-3xl font-bold mt-10 mb-2">Cart Empty</h1>
                <p class="text-gray-400">You probably haven't ordered a pizza yet.
                    To order a pizza, go to the main page.
                </p>
                <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
                <a href="/" class="btn-primary inline-block px-6 py-2 rounded-full text-white font-bold mt-10">Go
                    back</a>
            </div>
        </section>

    <% } %>